.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  color: var(--orange-web);
}

.header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 4vw;
  color: lightgray;
}

@media screen and (min-width: 900px) {
  .header nav {
    font-size: 1.5rem;
  }
}
