.header {
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.kesfet {
  color: red;
}
