#container {
  margin: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #060d136c;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 10px;
}
.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 310px;
  opacity: 59%;
}
.heroImage img {
  width: fit-content;
  height: fit-content;
  object-fit: contain;
}
#container h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--selective-yellow);
}
.desc {
  padding-top: 1rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
