.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: azure;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.adress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 300px;
}
.contact {
  display: flex;
  flex-direction: column;
}
.logo {
  min-width: 65px;
}
