:root {
  --white: #fff;
  --light-gray: rgba(255, 255, 255, 0.42);
  --gray: #777;
  --black: #111;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font-family: "Raleway", sans-serif;
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
  color: var(--white);
}
a {
  text-decoration: none;
}
p {
  color: var(--light-gray);
}
body {
  background-color: var(--black);
}
